.cheese{
    height:300px;
    width: 150px;



}

#game{
    width: 300px;
}

#pizza{
    height:300px;
    width: 400px;

}

body{
    
    background-image:url("https://wallpapercave.com/wp/wp11317705.jpg");
    background-color: blueviolet;
    position: absolute;
}
    

h1{

    color: rgb(247, 0, 0);
}

p{
    color: rgb(247,00,00);
}
.college{
    width: 200px;
    height:200px;
}
.phone-container {
    position:relative;
    top: 10%;
    width: 200px;
    height: 200px;
}
#phone{
    position: relative;
    left: 70%;
}
